doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title KARIBU GROCERIES
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Avilon - v4.6.1
    * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top.d-flex.align-items-center.header-transparent
  .container.d-flex.justify-content-between.align-items-center
    #logo
      h1
        a(href='/reg') KGL
      // Uncomment below if you prefer to use an image logo
      // <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='#hero') Home
        li
          a.nav-link.scrollto(href='/login') About
        li
          a.nav-link.scrollto(href='/character') Features
        li
          a.nav-link.scrollto(href='/purchase') Pricing
        li
          a.nav-link.scrollto(href='/Description') Team
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
// ======= Hero Section =======
section#hero
  .hero-text(data-aos='zoom-out')
    h2 Karibu Groceries Limitted
    p A wholesale product distributor of cereals 
    a.btn-get-started.scrollto(href='#about') Get started
  .product-screens
    .product-screen-1(data-aos='fade-up' data-aos-delay='400')
      img(src='assets/img/oats-3717095__480.jpg' alt='')
    .product-screen-2(data-aos='fade-up' data-aos-delay='200')
      img(src='assets/img/wheat-3524861__480.jpg' alt='')
    .product-screen-3(data-aos='fade-up')
      img(src='assets/img/agriculture-1552390__480.webp' alt='')
// End Hero Section
main#main
  // ======= About Section =======
  section#about.section-bg
    .container-fluid(data-aos='fade-up')
      .section-header
        h3.section-title About Us
        span.section-divider
        p.section-description
          br
      .row
        .col-lg-6.about-img(data-aos='fade-right' dat-aos-delay='100')
          img(src='assets/img/pexels-robert-lens-11833068.jpg' alt='')
        .col-lg-6.content(data-aos='fade-left' dat-aos-delay='100')
          h2 We deal in cereals
          h3
            ul
              li cow peas
              li Beans
              li Maize Grains
              li G-nuts
              li soabeans
          p
            | KGL has two individual branches in Matugga and Maganjo
          ul
            li
              i.bi.bi-check-circle
              |  We deal with individual dealers with produce not less than a tonne.
            li
              i.bi.bi-check-circle
              |  KGL owns two individual farms .
            li
              i.bi.bi-check-circle
              |  Any cereal campanies are free to sell to KGL.
          p
            | credits are only given to trustworthy customers.
  // End About Section
  // End Advanced Featuress Section
  // ======= Call To Action Section =======
  section(id='call-to-action\
  <div class=')
    .row
      .col-lg-9.text-center.text-lg-start
        h3.cta-title Recall
        p.cta-text  For a recap about out features just click(on the return back ).
      .col-lg-3.cta-btn-container.text-center
        button
          a.cta-btn.align-middle(href='/character') Return back
  // End Call To Action Section
  // Vendor JS Files
  script(src='assets/vendor/aos/aos.js')
  script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='assets/vendor/glightbox/js/glightbox.min.js')
  script(src='assets/vendor/php-email-form/validate.js')
  // Template Main JS File
  script(src='assets/js/main.js')
